version: 2
updates:
  - package-ecosystem: "pip" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 5 # Fallback cooldown if no specific rule applies
      semver-major-days: 30 # Cooldown for major version updates
      semver-minor-days: 7 # Cooldown for minor version updates
      semver-patch-days: 3 # Cooldown for patch version updates
      exclude:
        - "ansys*"
    labels:
      - "maintenance"
      - "dependencies"
    commit-message:
      prefix: "maint"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 5 # Fallback cooldown if no specific rule applies
    labels:
      - "maintenance"
    commit-message:
      prefix: "maint"
    groups:
       actions:
          patterns:
            - "*"