[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
# Check https://flit.readthedocs.io/en/latest/pyproject_toml.html for all available sections
name = "ansys-math-core"
version = "0.2.dev0"
description = "A Python wrapper for PyAnsys Math libraries."
readme = "README.rst"
requires-python = ">=3.8"
license = {file = "LICENSE"}
authors = [
    {name = "ANSYS, Inc.", email = "pyansys.core@ansys.com"},
]
maintainers = [
    {name = "ANSYS, Inc.", email = "pyansys.core@ansys.com"},
]
classifiers=[
    "Development Status :: 4 - Beta",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
    "ansys-mapdl-core>=0.64.0",
    "ansys-tools-path>=0.2.4",
    "pyansys-tools-versioning>=0.3.3",
    "numpy>=1.14.0",
    "importlib-metadata>=4.0,<5; python_version<='3.8'",
    "scipy>=1.3.0",  # for sparse (consider optional?)
]

[project.optional-dependencies]
tests = [
    "ansys-mapdl-core==0.65.0",
    "scipy==1.11.0",
    "pyansys-tools-report==0.6.0",
    "pytest==7.4.0",
    "pytest-cov==4.1.0",
    "pytest-rerunfailures==11.1.2",
    "pyvista==0.40.0",
    "vtk==9.2.6",
]
doc = [
    "Sphinx==7.0.1",
    "ansys-mapdl-core==0.65.0",
    "ansys-mapdl-reader==0.52.17",
    "ansys-sphinx-theme==0.9.9",
    "jupyter_sphinx==0.4.0",
    "jupyterlab==4.0.2",
    "numpydoc==1.5.0",
    "pandas==2.0.3",
    "pypandoc==1.11",
    "pytest-sphinx==0.5.0",
    "pyvista==0.40.0",
    "sphinx-autobuild==2021.3.14",
    "sphinx-autodoc-typehints==1.23.3",
    "sphinx-copybutton==0.5.2",
    "sphinx-notfound-page==0.8.3",
    "sphinx-gallery==0.13.0",
    "vtk==9.2.6",
]

[tool.flit.module]
name = "ansys.math.core"

[project.urls]
Homepage = "https://github.com/ansys/ansys-math/"
Documentation = "https://math.docs.pyansys.com"
Source = "https://github.com/ansys/ansys-math"
Tracker = "https://github.com/ansys/ansys-math/issues"

[tool.black]
line-length = 100

[tool.isort]
profile = "black"
force_sort_within_sections = true
line_length = 100
default_section = "THIRDPARTY"
src_paths = ["doc", "src", "tests"]

[tool.coverage.run]
source = ["ansys/pyansys-math"]

[tool.coverage.report]
show_missing = true

[tool.codespell]
skip = '*.pyc,*.txt,*.gif,*.png,*.jpg,*.js,*.html,*.doctree,*.ttf,*.woff,*.woff2,*.eot,*.mp4,*.inv,*.pickle,*.ipynb,flycheck*,./.git/*,./.hypothesis/*,*.yml,./doc/build/*,./doc/images/*,./dist/*,*~,.hypothesis*,./doc/source/examples/*,*cover,*.dat,*.mac,build,./docker/mapdl/v*,./factory/*,PKG-INFO,*.mypy_cache/*,./docker/mapdl/*,./_unused/*'
ignore-words = "doc/styles/Vocab/ANSYS/accept.txt"
quiet-level = 3
